.input__field {
  font-size: 0.875rem;
  border: 0;
  outline: 0;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.2);
  line-height: 1.6875rem;
  transition: all 0.35s linear;
}

.input__field::placeholder {
  color: #c4c4c4;
}

.input__field:focus {
  border-color: #3456f3;
}
