.profile {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 55rem;
  padding: 2.5rem 0 3.125rem;
}

@media screen and (max-width: 900px) {
  .profile {
    margin: 0 1.1875rem;
  }
}

@media screen and (max-width: 730px) {
  .profile {
    flex-direction: column;
    gap: 2.1rem;
    padding: 2.625rem 0 2.25rem;
  }
}
