.popup__close {
  height: 2rem;
  width: 2rem;
  background-image: url("/close-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .popup__close {
    height: 1.25rem;
    width: 1.25rem;
    background-size: cover;
    top: -2.25rem;
    right: 0;
  }
}
