.profile__edit-button {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("/edit-button.svg");
  background-color: transparent;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .profile__edit-button {
    height: 1.125rem;
    width: 1.125rem;
    background-size: cover;
  }
}
