.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 26.875rem;
  width: 100%;
  border-radius: 0.625rem;
  box-shadow: 0 0 1.5625rem rgb(0, 0, 0, 0.15);
  padding: 2.125rem 2.25rem 2.3125rem 2.25rem;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 540px) {
  .popup__content {
    padding: 1.5625rem 1.375rem;
    margin: 0 1.1875rem;
  }
}
