.header__icon {
  cursor: pointer;
  display: none;
  z-index: 25;
  margin: -0.15rem 2.5rem 0 0;
}

.header__icon::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  background: #fff;
  transform: translateY(-0.625rem);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header__icon::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0.25rem;
  background: #fff;
  box-shadow: 0 0.625rem 0 0;
  color: #fff;
  transition: 0.4s;
  border-radius: 0.25rem;
}

@media (max-width: 540px) {
  .header__icon {
    display: flex;
  }
}
