$height: 0.25rem;
$rotate-45: 45deg;

@mixin cubic-transition {
  @include transition(
    $properties: transform,
    $duration: 400ms,
    $timing-function: cubic-bezier(0.23, 1, 0.32, 1)
  );
}

.header {
  background-color: $black;
  max-width: $max-width-55;
  width: $dimension-full;
  padding: 2.8125rem 0 2.5625rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: $border-xs solid hsla(0, 0%, 33%, 0.7);
  box-sizing: border-box;

  @media screen and (max-width: $screen-xl) {
    padding: 1.75rem $padding-xs 1.975rem 1.6875rem;
  }

  &__logo {
    height: 2.0625rem;
    width: 8.875rem;

    @media screen and (max-width: $screen-sm) {
      height: 1.5rem;
      width: 6.438rem;
    }
  }

  &__authorization {
    font-size: $font-size-sm;
    color: $white;
    @include transition;
  }

  &__menu {
    display: flex;

    @media screen and (max-width: $screen-sm) {
      position: fixed;
      top: 0;
      left: -120%;
      z-index: 20;
      height: $dimension-full;
      width: 20rem;
      padding: 0 $padding-xs;
      background: $black;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      @include transition($properties: left, $duration: 0.2s);
      box-sizing: border-box;
    }

    @media screen and (max-width: $screen-xs) {
      width: $dimension-full;
    }

    &_active {
      left: 0;
    }
  }

  &__email {
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
    line-height: $line-height-12;
    margin: 0 $margin-sm 0 auto;

    @media screen and (max-width: $screen-sm) {
      margin: 0;
    }

    @media screen and (max-width: $screen-xs) {
      font-size: $font-size-md;
    }
  }

  &__sign-out {
    padding: 0;
    color: $gray;
    background-color: transparent;

    &:focus,
    &:hover {
      color: $white;
    }
  }

  &__icon {
    cursor: pointer;
    display: none;
    z-index: 25;
    margin: -0.15rem 2.5rem 0 0;

    @media screen and (max-width: $screen-sm) {
      display: flex;
    }

    &::before {
      content: "";
      position: absolute;
      width: $dimension-sm;
      height: $height;
      border-radius: $border-radius-sm;
      background: $white;
      transform: translateY(-0.625rem);
      @include cubic-transition;
    }

    &::after {
      content: "";
      position: absolute;
      width: $dimension-sm;
      height: $height;
      background: $white;
      box-shadow: 0 0.625rem 0 0;
      color: $white;
      transition-duration: 0.4s;
      border-radius: $border-radius-sm;
    }

    &_active {
      &::before {
        transform: rotate($rotate-45);
        @include cubic-transition;
      }

      &::after {
        transform: rotate(-$rotate-45);
        @include cubic-transition;
        box-shadow: none;
      }
    }
  }
}
