.element__delete {
  height: 1.188rem;
  width: 1.125rem;
  background-image: url("/delete.svg");
  background-color: transparent;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.element__delete:hover {
  opacity: 0.5;
}
