.header__menu {
  display: flex;
}

@media screen and (max-width: 540px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: -120%;
    z-index: 20;
    height: 100%;
    width: 20rem;
    padding: 0 0.5rem;
    background: #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: left 0.2s linear;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 400px) {
  .header__menu {
    width: 100%;
  }
}
