.profile__add-button {
  height: 3.125rem;
  width: 9.375rem;
  background-image: url("/add-button.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.125rem solid #fff;
  border-radius: 0.125rem;
  background-size: 1.375rem;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 730px) {
  .profile__add-button {
    width: 17.625rem;
    background-size: 1rem;
  }
}
