$black: hsl(0, 0%, 0%);
$black-light: hsla(0, 0%, 0%, 0.8);
$white: hsl(0, 0%, 100%);
$red: hsl(0, 100%, 50%);
$gray: hsl(0, 0%, 66%);

$font-family-inter: "Inter";

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-black: 900;

$line-height-12: 1.2;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.5rem;

$margin-xs: 1.1875rem;
$margin-sm: 1.5rem;

$padding-xs: 0.5rem;
$padding-sm: 1.875rem;
$padding-md: 2.25rem;
$padding-lg: 2.5rem;
$padding-xl: 3.75rem;

$border-xs: 0.0625rem;
$border-sm: 0.125rem;

$border-radius-xs: 0.125rem;
$border-radius-sm: 0.25rem;
$border-radius-md: 0.625rem;

$max-width-55: 55rem;
$max-width-17: 17.625rem;

$dimension-full: 100%;
$dimension-xs: 1.125rem;
$dimension-sm: 2rem;
$dimension-b-sm: 3.125rem;
$dimension-md: 7.5rem;
$dimension-lg: 17.625rem;

$opacity-50: 0.5;
$opacity-60: 0.6;

$gap-xs: 0.625rem;

$screen-xs: 25rem;
$screen-sm: 33.75rem;
$screen-md: 45.625rem;
$screen-lg: 48rem;
$screen-xl: 56.25rem;
